.container {
    display: flex;
    /* flex-direction: column; */
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.left {
    flex: 1;
}

.right {
    flex: 5;  
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header:hover {
    text-decoration: underline;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottomWrapper {
    display: flex;
    gap: 20px;
}