.container {
    display: flex;
    /* flex-direction: column; */
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.left {
    flex: 1;
}

.right {
    flex: 5;  
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header:hover {
    text-decoration: underline;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border: 3px solid #999;
    border-radius: 10px;
    padding: 10px;
}

.bottomWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.image {
    object-fit: contain;
}

.image-container {

   width: 100%;
  

    position: unset !important;

  
   
}
.imageLarge {
   object-fit: contain;
   width: 500 !important;
   position: relative !important;
   height: unset !important;
}