.container {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 5;
}

.wrapper {
    display: flex;
    flex-direction: column;
    
    align-items: center;

}

.image {
    width: 50px;
}

.innerWrapper {
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}