.container {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 5;
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 10px;
}

.input {
    width: 300px;
    border-radius: 8px;
    height: 40px;
}

.btn {
    border: none;
    background-color: #D01B59;
    color: white;
    height: 50px;
    margin-top: 20px;
    transition: .3s all ease-in-out;
}

.btn:hover {
    background-color: blueviolet;
}