.container {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    flex: 5;
}

.top, .bottom {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    padding: 10px;
    margin: 20px;
    display: flex;
}

.bottomLeft {
    flex: 1;
}

.bottomRight {
    flex: 2;
}

.formContent {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    width: 100%;
    /* background-color: teal; */
}

.formLeft {
    width: 100%;
    /* background-color: teal; */
}

.formRight {
    width: 100%;
}

.formGroup {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


.input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #999;
}

.input:focus {
    outline: none;
}

.labelFile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    cursor: pointer;
}

.btn {
    width: 150px;
    padding: 10px;
    border: none;
    background: #D01B59;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.required::after {
    content: ' *';
    color: 'red';
}